.container {
    max-width: 900px;
    margin: 3rem auto;
}

.bg_light_gray {
    background-color: rgb(236, 236, 236);
}

h4,
p {

    background-color: white;
    margin-bottom: 0;
    padding: 0.5rem 0 0.5rem 0;
}